:root {
    --color-primary: #ffffff;
    --color-secondary: #8f4640;
    --color-tertiary: #e3262a;
    --color-tertiary-dark: #711315;
    --font-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Aleo', serif;
}